exportClasses(Phemd)
export(retrieveRefClusters)
export(createDataObj)
export(bindSeuratObj)
export(removeTinySamples)
export(aggregateSamples)
export(selectFeatures)
export(embedCells)
export(orderCellsMonocle)
export(plotEmbeddings)
export(plotHeatmaps)
export(clusterIndividualSamples)
export(generateGDM)
export(compareSamples)
export(groupSamples)
export(printClusterAssignments)
export(plotGroupedSamplesDmap)
export(saveSampleHistograms)
export(plotSummaryHistograms)
export(plotCellYield)
export(getCellYield)
export(drawColnames45)
export(getSampleCelltypeFreqs)
export(rawExpn)
export(monocleInfo)
export(seuratInfo)
export(GDM)
export(selectMarkers)
export(sNames)
export(pooledCells)
export(subsampledIdx)
export(subsampledBool)
export(celltypeFreqs)
export(batchIDs)
export("rawExpn<-")
export("selectMarkers<-")
export("pooledCells<-")
export("subsampledIdx<-")
export("subsampledBool<-")
export("monocleInfo<-")
export("seuratInfo<-")
export("celltypeFreqs<-")
export("batchIDs<-")
export("GDM<-")

importFrom(pracma, squareform, isempty, strcat)
import(monocle)
import(RColorBrewer)
import(igraph)
import(transport)
import(cluster)
import(Rtsne)
import(destiny)
import(ggplot2)
import(RANN)
import(scatterplot3d)
import(maptree)
import(pheatmap)
import(Seurat)
import(VGAM)
import(methods)
import(SingleCellExperiment)
import(Biobase)
importFrom("grDevices", "colorRampPalette", "dev.off", "palette", "png", 
           "rainbow")
importFrom("graphics", "barplot", "par", "text", "title")
importFrom("stats", "as.dist", "cov", "cutree", "dist", "hclust", 
           "mahalanobis")
importFrom("utils", "assignInNamespace", "write.table")
importFrom("cowplot", "plot_grid")
importFrom("S4Vectors", "isEmpty")
importFrom("BiocGenerics", "estimateSizeFactors", "estimateDispersions")
importFrom("SummarizedExperiment", "assay", "assays")