import(monocle)
import(RColorBrewer)
import(igraph)
import(transport)
import(pracma)
import(cluster)
import(Rtsne)
import(destiny)
import(ggplot2)
import(RANN)
import(scatterplot3d)
import(maptree)
import(pheatmap)
import(Seurat)
import(VGAM)


exportClasses(phemdObj)
export(create_dataobj)
export(attach_seuratobj)
export(remove_tiny_samples)
export(aggregate_samples)
export(select_features)
export(embed_cells)
export(order_cells)
export(plot_embeddings)
export(plot_heatmaps)
export(cluster_individual_samples)
export(generate_gdm)
export(compare_samples)
export(group_samples)
export(print_cluster_assignments)
export(plot_grouped_samples_dmap)
export(plot_sample_histograms)
export(plot_summary_histograms)
export(plot_cell_yield)
export(print_cell_yield)
export(draw_colnames_45)
